* {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

body {
    background-color: black;
}

img {
    width: 500px;
    height: 500px;
    margin: 50px;
}

button {
    background-color: darkred;
    width: 200px;
    font-size: 13px;
    margin-top: 70px;
    padding: 10px;
}

#main {
    width: 65%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#main h1{
    font-size: 1.5rem;
}
#main img {
    width: 35%;
    height: auto;
    border-radius: 5%;
}

#heart {
    font-size: 200px;
    cursor: pointer;
    transition: transform 0.2s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heart:hover {
    transform: scale(1.2);
    user-select: none;
}

#counter {
    position: absolute;
    top: 40%;
    font-size: 2.5rem;
}

#videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    display: none;
}

#videoContainer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}